
/* .header{padding:8px 0;}
.header .logo{background-image: url(../img/logo.svg);background-position: center;background-size:contain;background-repeat: no-repeat;height:67px;width:75px;float:left;}
.header .right-align{float:right;margin-top:3px;}
.header .categories-drop-dwn{margin-top:20px;display: inline-block;}
.header .categories-drop-dwn .title{font-size: 15px;color:#4d426d;background-image: url(../img/header-cat-arrow.svg);background-repeat: no-repeat;background-position: right center;background-size:14px;height:20px;width:120px;cursor: pointer;font-weight:500}
.header .categories-drop-dwn ul{display: none;position: absolute;z-index:2;width:118px;}
.header .categories-drop-dwn ul.active{display:block;}
.header .categories-drop-dwn ul li{padding-left:5px;background-color:#4d426d;color:white;}
.header .categories-drop-dwn ul li:hover{background-color: white;color:#4d426d}
.header .categories-drop-dwn ul li:hover a{color:#4d426d;}
.header .categories-drop-dwn ul li a{font-size:14px;line-height:34px;color:white;display: block;}
.header .categories-drop-dwn .search-btn-cat{width:34px;height:34px;background-color: #4d426d;border-radius: 6px;display: none;background-image: url(../img/serp-header-search.svg);background-repeat: no-repeat;background-position: center;background-size: 17px;}
.header .categories-drop-dwn .search-btn-cat.active{background-image: url(../img/close1.svg);}
.header .search-bar{float:right;margin-top:14px;margin-left:30px;vertical-align: middle;}
.header .search-bar .input-field{display: inline-block;vertical-align: middle;width:0;opacity:0;height:34px;transition: .5s ease-in-out;border-radius: 6px;}
.header .search-bar .input-field.active{width:283px;opacity: 1;}
.header .search-bar .input-field input{width:100%;height:34px;font-size:14px;line-height: 18px;background-color:#f0f6f7}
.header .search-bar .input-field input.active{padding-left:13px;}
.header .search-bar .input-field input::placeholder{font-size:14px;color:gray;line-height: 18px;}
.header .search-bar .input-field input::-moz-placeholder{font-size:14px;color:gray;line-height: 32px;}
.header .search-bar .search-icon{display: inline-block;vertical-align: middle;background-image: url(../img/serp-header-search.svg);background-size:18px;background-repeat: no-repeat;background-position: center;height:34px;width:34px;border-radius: 6px;background-color: #4d426d;cursor: pointer;} */



.header{padding:8px 0;}
.header .logo{background-image: url(../img/logo.svg);background-position: center;background-size:contain;background-repeat: no-repeat;height:67px;width:75px;float:left;}
.header .right-align{float:right;margin-top:3px;}
.header .categories-drop-dwn{margin-top:20px;display: inline-block;position: relative;width:200px}
.header .categories-drop-dwn .title{font-size: 15px;color:#4d426d;background-image: url(../img/header-cat-arrow.svg);background-repeat: no-repeat;background-position: right center;background-size:12px;height:20px;width:120px;cursor: pointer;font-weight:500;float:right;}
.header .categories-drop-dwn ul{display: none;position: absolute;z-index:2;width:198px;right:0;top:25px;}
.header .categories-drop-dwn ul.active{display:block;}
.header .categories-drop-dwn ul li{padding-left:8px;background-color:#4d426d;color:white;}
.header .categories-drop-dwn ul li:hover{background-color: white;color:#4d426d}
.header .categories-drop-dwn ul li:hover a{color:#4d426d;}
.header .categories-drop-dwn ul li a{font-size:16px;line-height:34px;color:white;display: block;}
.header .categories-drop-dwn .search-btn-cat{width:34px;height:34px;background-color: #4d426d;border-radius: 6px;display: none;background-image: url(../img/serp-header-search.svg);background-repeat: no-repeat;background-position: center;background-size: 17px;}
.header .categories-drop-dwn .search-btn-cat.active{background-image: url(../img/close1.svg);}
.header .search-bar{float:right;margin-top:14px;margin-left:30px;vertical-align: middle;}
.header .search-bar .input-field{display: inline-block;vertical-align: middle;width:0;opacity:0;height:34px;transition: .5s ease-in-out;border-radius: 6px;}
.header .search-bar .input-field.active{width:283px;opacity: 1;}
.header .search-bar .input-field input{width:100%;height:34px;font-size:14px;line-height: 18px;background-color:#f0f6f7}
.header .search-bar .input-field input.active{padding-left:13px;}
.header .search-bar .input-field input::placeholder{font-size:14px;color:gray;line-height: 18px;}
.header .search-bar .input-field input::-moz-placeholder{font-size:14px;color:gray;line-height: 32px;}
.header .search-bar .search-icon{display: inline-block;vertical-align: middle;background-image: url(../img/serp-header-search.svg);background-size:18px;background-repeat: no-repeat;background-position: center;height:34px;width:34px;border-radius: 6px;background-color: #4d426d;cursor: pointer;}



@media screen and (max-width:767px){
    /* .header .logo{position: relative;z-index: 20;height:62px;width:71px;}
    .header-wrp{position: relative;}
    .header .right-align{position: absolute;right:0;width:100%;background-color:white;margin-top:0;}
    .header .categories-drop-dwn{display: block;position: absolute;right:0;width:173px;margin-top:15px;}
    .header .categories-drop-dwn .title{display: inline-block;vertical-align: middle;}
    .header .categories-drop-dwn .search-btn-cat{display: inline-block;vertical-align: middle;margin-left: 15px;cursor: pointer;}
    .header .search-bar{margin-top:80px;margin-bottom:20px;width:100%;display: none;}
    .header .search-bar.active{display:block;padding-left:10px;}
    .header .search-bar .input-field{width:calc(100% - 38px);opacity: 1;}
    .header .search-bar .input-field.active{width:93.6%;}
    .header .search-bar .input-field input{background-color: white;}
    .header .search-bar form{box-shadow:0 14px 15px 0 rgba(98, 104, 97, 0.18);} */


    .header .logo{position: relative;z-index: 20;height:62px;width:71px;}
    .header-wrp{position: relative;}
    .header .right-align{position: absolute;right:0;width:100%;background-color:white;margin-top:0;}
    .header .categories-drop-dwn{display: block;position: absolute;right:0;width:173px;margin-top:15px;}
    .header .categories-drop-dwn .title{display: inline-block;vertical-align: middle;float:none;}
    .header .categories-drop-dwn ul{right:50px;top:30px;width:160px;}
    .header .categories-drop-dwn .search-btn-cat{display: inline-block;vertical-align: middle;margin-left: 15px;cursor: pointer;}
    .header .search-bar{margin-top:80px;margin-bottom:20px;width:100%;display: none;}
    .header .search-bar.active{display:block;padding-left:10px;}
    .header .search-bar .input-field{width:calc(100% - 38px);opacity: 1;}
    .header .search-bar .input-field.active{width:calc(100% - 38px)}
    .header .search-bar .input-field input{background-color: white;padding-left:13px;}
    .header .search-bar form{box-shadow:0 14px 15px 0 rgba(98, 104, 97, 0.18);}

   
    
}